.Card{
    padding: 12px 12px 0px 12px;
    width: 20vw;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex:initial;
    height: 94.875vh; 
    overflow-y: auto;
}
.test{
    padding-bottom:200px;
}