.Background{
    display: flex;
    background-color: white;
    height: fit-content;
    margin: 10px;
    padding: 24px 24px;
    border-radius: 12px;
    border: solid #dfdee1;
    border-width: 2px;
    flex-grow: 1;
}

