.pageArea{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 12px;
    flex-grow: 1;
}

h1{
    font-size: 36px;
}


.Content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px;
    gap: 4vh;
    flex-shrink: 1;
    flex-grow: 1;
}

.Popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.PopupBackdrop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}