.Background{
    display: flex;
    background-color: white;
    height: fit-content;
    margin: 16px;
    padding: 4px 28px;
    border-radius: 12px;
    border: solid #dfdee1;
    border-width: 2px;
}

