.Background{
    display: flex;
    flex-direction: column;
    background-color: #7c3aed;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12px;
    height: -webkit-fill-available;
    width: 80px;
    flex:initial;
}   

.TopGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 256px;
    gap: 16px;
}

.sidebarButton{
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink:0;
    flex-basis: auto;
    width: 52px;
    height: 52px;
    padding: none;
    border: none;
    border-radius: 8px;
    background-color: #9b69f1;
}

.sidebarButton .icon{
    transition: 0.2s;
    width: 70%;
    height: 70%;
    filter: brightness(0) invert(1);
}


.sidebarButton:hover .icon{
    transition: 0.2s;
    filter: invert(34%) sepia(66%) saturate(7010%) hue-rotate(254deg) brightness(94%) contrast(97%);
}


.sidebarButton:hover {
    transition: 0.2s;
    background-color: white;
    
} 



.sidebarButton.active .icon {
    filter:  invert(34%) sepia(66%) saturate(7010%) hue-rotate(254deg) brightness(94%) contrast(97%);
}

.sidebarButton.active{  
    background-color: white;
}




