.PageContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    padding: 12px;
    gap: 12px
}

.DayBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:12px;
    align-items: center;
    
}

.CardStack{
    display: flex;
    justify-content: flex-start;
    height: 85vh;
    flex-direction: column;
    gap: 12px;
    overflow-y:auto;
}

.HabitCard{
    margin: 6px;
    height: 128px;
    flex-grow: 0;
}

.CardContent{
    padding: 12px;
    gap: 12px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.HabitTitle{
    font-weight: bold;
}

.CardStack::-webkit-scrollbar-track {
    border-radius: 10px;
  }
